header{
	background: url(../img/semilla.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:100%;
    height:600px;
}
.menu{
	background: #fff
}
.logo{
	width:100px;
	height: auto;
}
.mn{
	float: right;
	margin: 30px 0px;
	padding:0px 15px;
}
.raya{
	border-right: solid 1px #000;
}
.tema{
	margin:50px 0px;
}
.msvs{
	margin:80px 150px 15px;
}
.ms{
	margin-bottom: 80px;
}
#metod{
	background: url(../img/metodo.jpg);
	height:350px;
	background-repeat: no-repeat;
	background-position: center;
    background-size: 100%
}
#verde{
	background: url(../img/fondo.jpg);
    background-repeat: no-repeat;
	background-position: center;
    background-size: 100%;
	height:350px;
}
.mtd{
	margin:100px 290px 30px;
}
.md{
	margin-bottom: 30px;
}
.serv{
	margin-top: 80px
}
.ser{
	margin-top: 30px;
	margin-bottom: 80px; 
}
.icono{
	width: 100px;
	height: auto;
	margin:20px 100px;
}
.foto{
	width: 400px;
	height: auto;
}
.pr{
	margin: 60px 20px 0px;
}
.mr{
	margin-bottom: 60px;
}
.np{
	margin-top: 100px;
}
.mb{
	margin-bottom: 150px;
}
.eqp{
	margin:60px 0 20px;
}
.burbuja{
	width: 150px;
	height: auto;
	border-radius: 100%;
	margin-left: 150px;
	margin-bottom: 20px;
}
.iconos{
	margin-top: 30px;
	margin-left: 180px;
	margin-bottom: 50px;
}
.mini{
	width:25px;
	height: auto;
}
.bloque{
	background: url(../img/fondo2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:100%;
    height:500px;

}